

.content {
    max-height: 0;
    overflow: hidden;
}

.activeContent {
    max-height: 100%;
    overflow: visible;
}

.icon {
    fill: black;
    width: 20px;
    height: 20px;
    transition: all 0.2s ease-in-out;
}

.iconActive {
    transform: rotate(180deg);
}

.header { 
    display: block;
    align-items: center;
    justify-content: space-between;

    &:hover {
        .icon {
            fill: white;
        }
    }
}